.header__wrapper, .section-one__wrapper, .list__inner, .quote__wrapper, .section-two__wrapper, .list-next__inner, .advice__wrapper, .section-three__wrapper, .list-square__inner, .youtube__wrapper, .section-four__wrapper, .section-five__wrapper, .footer__wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.quote__text, .advice__text {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px; }

.header {
  background-color: #06799f;
  height: 100vh; }
  .header__wrapper {
    position: relative;
    padding-top: 55px; }
  .header__title {
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-weight: 700;
    margin-top: 0;
    font-size: 92px;
    line-height: 70px; }
  .header__desc {
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px; }

.nav {
  position: absolute;
  right: 0;
  top: 55px;
  display: flex;
  flex-direction: row; }
  .nav__item {
    margin-bottom: 10px;
    margin-left: 10px; }
  .nav__link {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #fff; }

.slicknav_menu {
  display: none;
  background-color: #06799f;
  font-family: "Roboto Slab", serif;
  background-color: "Roboto Slab", serif; }

.slicknav_btn {
  background-color: #06799f; }

.slicknav_nav a:hover {
  border-radius: 0; }

@media (max-width: 1175px) {
  .header__wrapper {
    padding: 55px 45px 0; }
  .nav {
    right: 45px; } }

@media (max-width: 1175px) {
  .nav {
    display: flex;
    flex-direction: column; } }

@media (max-width: 935px) {
  .header {
    height: 100%; } }

@media screen and (max-width: 925px) {
  #menu {
    display: none; }
  .slicknav_menu {
    display: block; }
  .header__wrapper {
    padding-top: 15px; } }

@media screen and (max-width: 775px) {
  .header__title {
    font-size: 65px;
    margin-bottom: 10px; }
  .header__desc {
    font-size: 35px;
    line-height: 60px; } }

@media screen and (max-width: 535px) {
  .header__title {
    font-size: 33px; }
  .header__desc {
    font-size: 20px;
    line-height: 45px; }
  .header__wrapper {
    padding-left: 20px;
    padding-right: 20px; } }

.section-one {
  padding-bottom: 70px; }
  .section-one__wrapper {
    padding: 85px 0 35px; }
  .section-one__header {
    font-family: "Roboto Slab", serif;
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 60px;
    line-height: 72px; }
  .section-one__desc {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: lighter; }
  .section-one__btn {
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 71px;
    box-shadow: 0 5px 8px 2px rgba(0, 0, 1, 0.35);
    background-color: #06799f;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-family: "Roboto Slab", serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 36px;
    line-height: 67px; }
    .section-one__btn:hover {
      border: 2px solid #06799f;
      background: transparent;
      color: #000;
      line-height: 67px; }

.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0; }
  .list__item {
    font-weight: bold;
    font-size: 38px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 40px; }
  .list__desc {
    margin: 0 0 65px;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 30px;
    padding-left: 100px; }
    .list__desc:last-child {
      margin-bottom: 0px; }
  .list__stripe {
    padding: 35px 60px; }
    .list__stripe--background {
      background-color: #f3f3f3; }
    .list__stripe:last-child {
      margin-bottom: 70px; }

@media (max-width: 1199.98px) {
  .section-one__wrapper,
  .list__stripe {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .section-one__wrapper,
  .list__stripe {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 30px; }
  .section-one__wrapper {
    margin-bottom: 0;
    padding-bottom: 30px; }
  .section-one__header {
    font-size: 45px;
    line-height: 45px; }
  .section-one__desc {
    font-size: 22px;
    line-height: 30px; }
  .section-one__btn {
    font-size: 25px; }
  .list__stripe {
    margin-bottom: 0; }
  .list__item {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px; }
  .list__desc {
    margin: 0 0 30px;
    padding-left: 80px;
    font-size: 15px;
    line-height: 28px; } }

@media (max-width: 575.98px) {
  .section-one__wrapper,
  .list__stripe {
    padding: 30px 20px 20px; }
  .section-one__wrapper {
    padding-bottom: 15px; }
  .section-one__header {
    margin-bottom: 35px;
    font-size: 33px;
    line-height: 35px; }
  .section-one__desc {
    text-align: justify;
    font-size: 15px;
    line-height: 30px; }
  .section-one__btn {
    width: 85%;
    font-size: 25px; }
  .list__item {
    font-size: 23px;
    margin-bottom: 10px; }
  .list__desc {
    padding-left: 0;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 27px; } }

.quote {
  background-color: #06799f; }
  .quote__wrapper {
    padding: 20px 0; }
  .quote__hook {
    font-size: 186px;
    font-family: "Roboto Slab", serif;
    position: absolute;
    top: -75px;
    left: 0; }
  .quote__text {
    position: relative;
    padding-left: 100px; }
  .quote__author {
    display: block;
    text-align: right;
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px; }

@media (max-width: 1199.98px) {
  .quote__wrapper {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .quote__text {
    font-size: 25px;
    line-height: 40px; }
  .quote__author {
    font-size: 15px; } }

@media (max-width: 575.98px) {
  .quote__text {
    font-size: 20px;
    line-height: 35px;
    padding-left: 85px; }
  .quote__wrapper {
    padding-left: 10px;
    padding-right: 25px; }
  .quote__author {
    font-size: 18px; }
  .quote__hook {
    font-size: 150px;
    top: -60px;
    left: 0; } }

.section-two__wrapper {
  padding: 85px 0 35px; }

.section-two__header {
  font-family: "Roboto Slab", serif;
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 60px;
  line-height: 72px; }

.section-two__desc {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: lighter; }

.list-next {
  list-style-type: none;
  margin: 0;
  padding-left: 0; }
  .list-next__item {
    font-weight: bold;
    font-size: 38px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 40px; }
  .list-next__desc {
    margin: 0 0 65px;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 30px;
    padding-left: 100px; }
    .list-next__desc:last-child {
      margin-bottom: 0px; }
  .list-next__stripe {
    padding: 35px 60px; }
    .list-next__stripe--background {
      background-color: #f3f3f3; }

@media (max-width: 1199.98px) {
  .section-two__wrapper,
  .list-next__stripe {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .section-two__wrapper,
  .list-next__stripe {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 30px; }
  .section-two__wrapper {
    margin-bottom: 0;
    padding-bottom: 30px; }
  .section-two__header {
    font-size: 45px;
    line-height: 45px; }
  .section-two__desc {
    font-size: 22px;
    line-height: 30px; }
  .section-two__btn {
    font-size: 25px; }
  .list-next__stripe {
    margin-bottom: 0; }
  .list-next__item {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px; }
  .list-next__desc {
    margin: 0 0 30px;
    font-size: 15px;
    line-height: 28px;
    padding-left: 80px; } }

@media (max-width: 575.98px) {
  .section-two__wrapper,
  .list-next__stripe {
    padding: 30px 20px 20px; }
  .section-two__wrapper {
    padding-bottom: 15px; }
  .section-two__header {
    font-size: 33px;
    line-height: 35px;
    margin-bottom: 35px; }
  .section-two__desc {
    font-size: 15px;
    line-height: 30px;
    text-align: justify; }
  .list-next__item {
    font-size: 23px;
    margin-bottom: 10px; }
  .list-next__desc {
    padding-left: 0;
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    margin-bottom: 20px; } }

.advice {
  background-color: #06799f; }
  .advice__wrapper {
    padding: 45px 55px; }
  .advice__text {
    text-align: center; }

@media (max-width: 767.98px) {
  .advice__wrapper {
    padding: 15px 25px; }
  .advice__text {
    font-size: 25px;
    line-height: 40px; } }

@media (max-width: 575.98px) {
  .advice__wrapper {
    padding: 15px 25px; }
  .advice__text {
    font-size: 20px;
    line-height: 35px; } }

.section-three__wrapper {
  padding: 85px 0 35px; }

.section-three__header {
  font-family: "Roboto Slab", serif;
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 60px;
  line-height: 72px; }

.section-three__desc {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: lighter; }

.list-square {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .list-square__item {
    font-weight: 400;
    font-family: "Roboto Slab", serif;
    position: relative;
    padding-left: 70px;
    font-size: 24px;
    line-height: 30px; }
    .list-square__item:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #000;
      left: 0; }
  .list-square__stripe {
    padding: 35px 10px; }
    .list-square__stripe--background {
      background-color: #f3f3f3; }

@media (max-width: 1199.98px) {
  .section-three__wrapper,
  .list-square__stripe {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .section-three__wrapper,
  .list-square__stripe {
    padding-top: 45px;
    padding-bottom: 45px; }
  .section-three__header {
    font-size: 45px;
    line-height: 45px; }
  .section-three__desc {
    font-size: 22px;
    line-height: 30px; }
  .list-square {
    padding-left: 0; }
    .list-square__item {
      font-size: 15px;
      line-height: 28px; }
    .list-square__item:before {
      width: 20px;
      height: 20px; }
    .list-square__stripe {
      margin-bottom: 0; } }

@media (max-width: 575.98px) {
  .section-three__wrapper,
  .list-square__stripe {
    padding: 30px 20px 20px; }
  .section-three__header {
    margin-bottom: 35px;
    font-size: 33px;
    line-height: 35px; }
  .section-three__desc {
    text-align: justify;
    font-size: 15px;
    line-height: 30px; }
  .list-square {
    padding-left: 0px; }
    .list-square__item {
      font-size: 15px;
      padding-left: 35px;
      text-align: justify; }
    .list-square__item:before {
      top: 5px; } }

.youtube {
  background-color: #06799f; }
  .youtube__wrapper {
    padding: 85px 0 85px; }
  .youtube__header {
    font-family: "Roboto Slab", serif;
    color: #fff;
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 60px;
    line-height: 72px; }
  .youtube__container {
    max-width: 770px;
    max-height: 430px;
    margin: 0 auto;
    position: relative; }
  .youtube__img {
    width: 100%; }
  .youtube__fill {
    background-color: #000;
    opacity: 0.25;
    position: absolute;
    max-width: 770px;
    max-height: 430px; }
  .youtube__btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 169px; }

@media (max-width: 1199.98px) {
  .youtube__wrapper {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .youtube__wrapper {
    padding-top: 45px;
    padding-bottom: 45px; }
  .youtube__header {
    font-size: 45px;
    line-height: 45px; }
  .youtube__btn {
    width: 120px; } }

@media (max-width: 575.98px) {
  .youtube__wrapper {
    padding: 30px 20px 20px; }
  .youtube__header {
    font-size: 33px;
    line-height: 35px;
    margin-bottom: 35px; }
  .youtube__btn {
    width: 80px; } }

.section-four__wrapper {
  padding: 85px 0 35px; }

.section-four__header {
  font-family: "Roboto Slab", serif;
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 60px;
  line-height: 72px; }

.section-four__text {
  color: #000000;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px; }

.section-four__img {
  margin: 30px 0; }
  .section-four__img--right {
    float: right;
    margin-left: 30px;
    margin-bottom: 0; }
  .section-four__img--left {
    float: left;
    margin-right: 30px;
    margin-bottom: 0; }

@media (max-width: 1199.98px) {
  .section-four__wrapper {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 920px) {
  .section-four__img--left,
  .section-four__img--right {
    float: none; }
  .section-four__img {
    display: block;
    margin: 30px auto; } }

@media (max-width: 767.98px) {
  .section-four__wrapper {
    padding-top: 45px;
    padding-bottom: 45px; }
  .section-four__header {
    font-size: 45px;
    line-height: 45px; }
  .section-four__text {
    text-align: justify;
    font-size: 15px;
    line-height: 28px; }
  .section-four__img {
    margin: 15px 0;
    width: 100%;
    height: auto; } }

@media (max-width: 575.98px) {
  .section-four__wrapper {
    padding: 30px 20px 20px; }
  .section-four__header {
    margin-bottom: 35px;
    font-size: 33px;
    line-height: 35px; }
  .section-four__text {
    text-align: justify;
    font-size: 15px;
    line-height: 27px; }
  .section-four__img {
    margin: 15px 0; } }

.section-five {
  background-color: #06799f;
  margin-bottom: 185px; }
  .section-five__wrapper {
    padding: 85px 0 60px; }
  .section-five__header {
    font-family: "Roboto Slab", serif;
    margin-top: 0;
    margin-bottom: 45px;
    color: #fff;
    font-size: 60px;
    line-height: 72px; }
  .section-five__desc {
    font-family: "Roboto Slab", serif;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 36px; }
  .section-five__btn {
    display: block;
    margin: 0 auto;
    width: 370px;
    height: 71px;
    box-shadow: 0 5px 8px 2px rgba(0, 0, 1, 0.35);
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    font-family: "Roboto Slab", serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 36px;
    line-height: 67px; }
    .section-five__btn:hover {
      border: 2px solid #06799f;
      background: #fff;
      color: #06799f;
      line-height: 67px; }

@media (max-width: 1199.98px) {
  .section-five__wrapper {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .section-five__wrapper {
    padding-top: 45px;
    padding-bottom: 45px; }
  .section-five__header {
    font-size: 45px;
    line-height: 45px; }
  .section-five__desc {
    font-size: 22px;
    line-height: 30px; }
  .section-five__btn {
    font-size: 25px; } }

@media (max-width: 575.98px) {
  .section-five__wrapper {
    padding: 30px 20px 30px; }
  .section-five__header {
    margin-bottom: 35px;
    font-size: 33px;
    line-height: 35px; }
  .section-five__desc {
    text-align: justify;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 30px; }
  .section-five__btn {
    width: 85%;
    font-size: 25px; } }

.footer {
  background-color: #06799f; }
  .footer__wrapper {
    padding: 40px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.language-select__item {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-right: 15px;
  align-items: center; }
  .language-select__item--active {
    text-decoration: none;
    cursor: initial; }

.fab {
  font-size: 30px; }

.social-btn__item {
  color: #fff;
  margin-left: 15px; }
  .social-btn__item:hover {
    opacity: 0.75; }

@media (max-width: 1199.98px) {
  .footer__wrapper {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .footer__wrapper {
    padding-top: 45px;
    padding-bottom: 45px; } }

@media (max-width: 575.98px) {
  .footer__wrapper {
    padding: 30px 20px 30px;
    flex-direction: column;
    align-items: center; }
  .social-btn__item,
  .language-select__item {
    margin: 0 7.5px; }
  .language-select {
    margin-bottom: 15px; } }
