.header {
  background-color: #06799f;
  height: 100vh; }
  .header__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding-top: 55px; }
  .header__title {
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-size: 92px;
    font-weight: 700;
    margin-top: 0;
    line-height: 70px; }
  .header__desc {
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px; }

.nav {
  position: absolute;
  right: 0;
  top: 55px;
  display: flex;
  flex-direction: row; }
  .nav__item {
    margin-bottom: 10px;
    margin-left: 10px; }
  .nav__link {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #fff; }

.slicknav_menu {
  display: none;
  background-color: #06799f;
  font-family: "Roboto Slab", serif;
  background-color: "Roboto Slab", serif; }

.slicknav_btn {
  background-color: #06799f; }

.slicknav_nav a:hover {
  border-radius: 0; }

@media (max-width: 1175px) {
  .header__wrapper {
    padding: 55px 45px 0; }
  .nav {
    right: 45px; } }

@media (max-width: 1175px) {
  .nav {
    display: flex;
    flex-direction: column; } }

@media (max-width: 935px) {
  .header {
    height: 100%; } }

@media screen and (max-width: 925px) {
  #menu {
    display: none; }
  .slicknav_menu {
    display: block; }
  .header__wrapper {
    padding-top: 15px; } }

@media screen and (max-width: 775px) {
  .header__title {
    font-size: 65px;
    margin-bottom: 10px; }
  .header__desc {
    font-size: 35px;
    line-height: 60px; } }

@media screen and (max-width: 535px) {
  .header__title {
    font-size: 33px; }
  .header__desc {
    font-size: 20px;
    line-height: 45px; }
  .header__wrapper {
    padding-left: 20px;
    padding-right: 20px; } }

.section-one__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 85px 0 70px; }

.section-one__header {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 45px;
  line-height: 72px; }

.section-one__desc {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 85px;
  font-weight: lighter; }

.section-one__btn {
  display: block;
  margin: 0 auto;
  width: 370px;
  height: 71px;
  box-shadow: 0 5px 8px 2px rgba(0, 0, 1, 0.35);
  background-color: #06799f;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  text-align: center;
  line-height: 69px;
  box-sizing: border-box; }
  .section-one__btn:hover {
    border: 2px solid #06799f;
    background: transparent;
    color: #000; }

.list {
  list-style-type: decimal;
  margin: 0;
  padding-left: 40px; }
  .list__item {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif; }
  .list__desc {
    margin: 0 0 65px;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 30px;
    padding-left: 65px; }
    .list__desc:last-child {
      margin-bottom: 110px; }

@media (max-width: 1199.98px) {
  .section-one__wrapper {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .section-one__wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 30px; }
  .section-one__header {
    font-size: 45px;
    line-height: 45px; }
  .section-one__desc {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 45px; }
  .list__item {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px; }
  .list__desc {
    margin: 0 0 30px;
    font-size: 15px;
    line-height: 28px; }
  .section-one__btn {
    font-size: 25px; }
  .list__desc:last-child {
    margin-bottom: 55px; } }

@media (max-width: 575.98px) {
  .section-one__wrapper {
    padding: 15px 20px 20px; }
  .section-one__header {
    font-size: 33px;
    line-height: 35px;
    margin-bottom: 35px; }
  .section-one__desc {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
    text-align: justify; }
  .list {
    padding-left: 20px; }
  .list__item {
    font-size: 23px;
    margin-bottom: 10px; }
  .list__desc {
    padding-left: 0;
    font-size: 15px;
    line-height: 27px;
    text-align: justify;
    margin-bottom: 20px; }
  .list__desc:last-child {
    margin-bottom: 30px; }
  .section-one__btn {
    width: 100%;
    font-size: 25px; } }

.quote {
  background-color: #06799f; }
  .quote__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0; }
  .quote__hook {
    font-size: 186px;
    font-family: "Roboto Slab", serif;
    position: absolute;
    top: -75px;
    left: 0; }
  .quote__text {
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    position: relative;
    padding-left: 100px; }
  .quote__author {
    display: block;
    text-align: right;
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px; }

@media (max-width: 1199.98px) {
  .quote__wrapper {
    padding-left: 45px;
    padding-right: 45px; } }

@media (max-width: 767.98px) {
  .quote__text {
    font-size: 25px;
    line-height: 40px; }
  .quote__author {
    font-size: 15px; } }

@media (max-width: 575.98px) {
  .quote__text {
    font-size: 20px;
    line-height: 35px;
    padding-left: 85px; }
  .quote__wrapper {
    padding-left: 10px;
    padding-right: 25px; }
  .quote__author {
    font-size: 18px; }
  .quote__hook {
    font-size: 150px;
    top: -60px;
    left: 0; } }
