.advice {
    background-color: $primary-color;
    &__wrapper {
        @extend %container;
        padding: 45px 55px;
    }
    &__text {
        @extend %quoteText;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .advice {
        &__wrapper {
            padding: 15px 25px;
        }
        &__text {
            @include fontDecoration(25px, 40px);
        }
    }
}

@media (max-width: 575.98px) {
    .advice {
        &__wrapper {
            padding: 15px 25px;
        }
        &__text {
            @include fontDecoration(15px, 30px);
        }
    }
}