.footer {
    background-color: $primary-color;
    &__wrapper {
        @extend %container;
        padding: 40px 0 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.language-select {
    &__item {
        color: #fff;
        font-family: $primary-font;
        font-size: 18px;
        margin-right: 15px;
        align-items: center;
        &--active {
            text-decoration: none;
            cursor: initial;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.fab {
    font-size: 30px;
}

.social-btn {
    &__item {
        color: #fff;
        margin-left: 15px;
        &:hover {
            opacity: 0.75;
        }
    }
}

@media (max-width: 1199.98px) {
    .footer__wrapper {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media (max-width: 767.98px) {
    .footer__wrapper {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media (max-width: 575.98px) {
    .footer__wrapper {
        padding: 30px 20px 30px;
        flex-direction: column;
        align-items: center;
    }
    .social-btn__item,
    .language-select__item {
        margin: 0 7.5px;
    }
    .language-select {
        margin-bottom: 15px;
    }
}