.header {
    background-color: $primary-color;
    min-height: 100vh;
    &__wrapper {
        @extend %container;
        position: relative;
        padding-top: 55px;
    }
    &__title {
        font-family: $primary-font;
        color: #fff;
        font-weight: 700;
        margin-top: 0;
        @include fontDecoration(92px, 70px);
    }
    &__desc {
        font-family: $primary-font;
        color: #fff;
        font-weight: 400;
        @include fontDecoration(60px, 72px);
    }
}

.nav {
    position: absolute;
    right: 0;
    top: 55px;
    display: flex;
    flex-direction: row;
    &__item {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    &__link {
        text-decoration: none;
        color: #fff;
        border-bottom: 2px solid #fff;
        &:hover {
            border-bottom: 0;
        }
    }
}

.slicknav_menu {
    font-size: 35px;
    display: none;
    background-color: #06799f;
    font-family: $primary-font;
    background-color: $primary-font;
}

.slicknav_btn {
    background-color: $primary-color;
}

.slicknav_nav a {
    font-size: 20px;
}

.slicknav_nav a:hover {
    border-radius: 0;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

@media (max-width: 1175px) {
    .header__wrapper {
        padding: 55px 45px 0;
    }
    .nav {
        right: 45px;
    }
}

@media (max-width: 1175px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 935px) {
    .header {
        height: 100%;
    }
}

@media screen and (max-width: 925px) {
    #menu {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .header__wrapper {
        padding-top: 15px;
    }
}

@media screen and (max-width: 775px) {
    .header {
        &__title {
            font-size: 65px;
            margin-bottom: 10px;
        }
        &__desc {
            @include fontDecoration(35px, 60px);
        }
    }
}

@media screen and (max-width: 535px) {
    .header {
        &__title {
            font-size: 33px;
        }
        &__desc {
            @include fontDecoration(20px, 45px);
        }
        &__wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}