.quote {
    background-color: $primary-color;
    &__wrapper {
        @extend %container;
        padding: 20px 0;
    }
    &__hook {
        font-size: 186px;
        font-family: $primary-font;
        position: absolute;
        top: -75px;
        left: 0;
    }
    &__text {
        @extend %quoteText;
        position: relative;
        padding-left: 100px;
    }
    &__author {
        display: block;
        text-align: right;
        color: #ffffff;
        font-family: $primary-font;
        font-weight: 400;
        @include fontDecoration(24px, 30px);
    }
}

@media (max-width: 1199.98px) {
    .quote__wrapper {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media (max-width: 767.98px) {
    .quote {
        &__text {
            @include fontDecoration(25px, 40px);
        }
        &__author {
            font-size: 15px;
        }
    }
}

@media (max-width: 575.98px) {
    .quote {
        &__text {
            @include fontDecoration(15px, 30px);
            padding-left: 65px;
        }
        &__wrapper {
            padding-left: 10px;
            padding-right: 25px;
        }
        &__author {
            font-size: 15px;
        }
        &__hook {
            font-size: 100px;
            top: -40px;
            left: 0;
        }
    }
}