.section-three {
    &__wrapper {
        @extend %container;
        padding: 85px 0 35px;
    }
    &__header {
        font-family: $primary-font;
        margin-top: 0;
        margin-bottom: 45px;
        @include fontDecoration(60px, 72px);
    }
    &__desc {
        font-family: $primary-font;
        @include fontDecoration(30px, 36px);
        font-weight: lighter;
    }
}

.list-square {
    list-style: none;
    margin: 0;
    padding-left: 0;
    &__inner {
        @extend %container;
    }
    &__item {
        font-weight: 400;
        font-family: $primary-font;
        position: relative;
        padding-left: 70px;
        @include fontDecoration(24px, 30px);
        &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: #000;
            left: 0;
        }
    }
    &__stripe {
        padding: 35px 10px;
        &--background {
            background-color: #f3f3f3;
        }
    }
}

@media (max-width: 1199.98px) {
    .section-three__wrapper,
    .list-square__stripe {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-three__wrapper,
    .list-square__stripe {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .section-three {
        &__header {
            @include fontDecoration(45px, 45px);
        }
        &__desc {
            @include fontDecoration(22px, 30px);
        }
    }
    .list-square {
        padding-left: 0;
        &__item {
            @include fontDecoration(15px, 28px);
        }
        &__item:before {
            width: 20px;
            height: 20px;
        }
        &__stripe {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 575.98px) {
    .section-three__wrapper,
    .list-square__stripe {
        padding: 30px 20px 20px;
    }
    .section-three {
        &__header {
            margin-bottom: 35px;
            @include fontDecoration(33px, 35px);
        }
        &__desc {
            text-align: justify;
            @include fontDecoration(15px, 30px);
        }
    }
    .list-square {
        padding-left: 0px;
        &__item {
            font-size: 15px;
            padding-left: 35px;
            text-align: justify;
        }
        &__item:before {
            top: 5px;
        }
    }
}