.section-two {
    &__wrapper {
        @extend %container;
        padding: 85px 0 35px;
    }
    &__header {
        font-family: $primary-font;
        margin-top: 0;
        margin-bottom: 45px;
        @include fontDecoration(60px, 72px);
    }
    &__desc {
        font-family: $primary-font;
        @include fontDecoration(30px, 36px);
        font-weight: lighter;
    }
}

.list-next {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    &__inner {
        @extend %container;
    }
    &__item {
        font-weight: bold;
        font-size: 38px;
        font-family: $primary-font;
        margin-bottom: 40px;
    }
    &__desc {
        margin: 0 0 65px;
        font-family: $primary-font;
        @include fontDecoration(24px, 30px);
        padding-left: 100px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &__stripe {
        padding: 35px 60px;
        &--background {
            background-color: #f3f3f3;
        }
    }
}

@media (max-width: 1199.98px) {
    .section-two__wrapper,
    .list-next__stripe {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-two__wrapper,
    .list-next__stripe {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 30px;
    }
    .section-two {
        &__wrapper {
            margin-bottom: 0;
            padding-bottom: 30px;
        }
        &__header {
            @include fontDecoration(45px, 45px);
        }
        &__desc {
            @include fontDecoration(22px, 30px);
        }
        &__btn {
            font-size: 25px;
        }
    }
    .list-next {
        &__stripe {
            margin-bottom: 0;
        }
        &__item {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 20px;
        }
        &__desc {
            margin: 0 0 30px;
            @include fontDecoration(15px, 28px);
            padding-left: 80px;
        }
    }
}

@media (max-width: 575.98px) {
    .section-two__wrapper,
    .list-next__stripe {
        padding: 30px 20px 20px;
    }
    .section-two {
        &__wrapper {
            padding-bottom: 15px;
        }
        &__header {
            @include fontDecoration(33px, 35px);
            margin-bottom: 35px;
        }
        &__desc {
            @include fontDecoration(15px, 30px);
            text-align: justify;
        }
    }
    .list-next {
        &__item {
            font-size: 23px;
            margin-bottom: 10px;
        }
        &__desc {
            padding-left: 0;
            @include fontDecoration(15px, 27px);
            text-align: justify;
            margin-bottom: 20px;
        }
    }
}